{% extends 'base.html' %}
{%block title%}
    Bhaskar's Blog - Admin Dashboard
{%endblock%}
{% block header%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid mx-2">
        <a class="navbar-brand" href="/">
            <img src="{{url_for("static", filename="mandala128px.png")}}" width="40px" height="40px" alt="brand-logo">
            Bhaskar.in
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
            </ul>
            {% if not user %}
                <div class="nav-item">
                    <a class="nav-link" href="{{url_for("auth.user_login")}}">Log in</a>
                </div>
            {% else %}
                <div class="nav-item dropdown">
                    <a class="btn btn-link dropdown-toggle dropdown-toggle text-decoration-none text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle me-2"></i>{{ user.name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">{{ user.email }}</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('.account_settings') }}">Account Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.user_logout') }}">Logout</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
{%endblock%}

{%block content%}
    <div class="container my-3">
            {% with alerts = get_flashed_messages(with_categories=True) %}
                {% if alerts %}
                    {% for type, alert in alerts %}
                    <div class="alert alert-{{ type }} d-flex align-items-center alert-dismissible fade show" role="alert">
                        <i style="font-size: 24px;" class="bi {{ "bi-check-circle-fill" if type == 'success' else "bi-exclamation-circle-fill" }} me-2"></i>
                        <div>{{alert}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}    
                {%endif%}
            {% endwith %}<div class="row">
            <div class="col">
                {%if messages %}
                    {% for message in messages: %}
                        <div class="card my-3">
                            <div class="card-body">
                                <h5 class="card-title">Sender Name: {{message.name}} <span class="badge bg-info">New</span></h5>
                                <a class="text-decoration-none" href="mailto:{{message.email}}">
                                    <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-envelope-open me-2"></i>{{message.email}}</h6>
                                </a>
                                <p class="card-text">{{message.message}}</p>
                                <span>
                                    <form method="POST" action="{{url_for("admin.dashboard_page")}}?delete=1&id={{message.id}}">
                                        <button id="message-delete" class="btn btn-primary">Remove message</button>
                                    </form>
                                </span>
                            </div>
                            <div class="card-footer text-muted">
                                Sent at: {{message.sent_date}}
                              </div>
                        </div>
                    {% endfor %}
                {% else: %}
                    <div class="alert alert-warning fade show mt-3" role="alert">
                        <strong>Holy guacamole!</strong> There is no message to show
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{%endblock%}