{% extends 'base.html' %}
{% block title %}
    Contact - Bhaskar.in
{% endblock %}

{%block content %}
<div class="container my-4">
    {% with alerts = get_flashed_messages(with_categories=True) %}
        {% if alerts %}
            {% for type, alert in alerts %}
            <div class="alert alert-{{ type }} d-flex align-items-center alert-dismissible fade show" role="alert">
                <i style="font-size: 24px;" class="bi {{ "bi-check-circle-fill" if type == 'success' else "bi-exclamation-circle-fill" }} me-2"></i>
                <div>{{alert}}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}    
        {%endif%}
    {% endwith %}
    <h3>Contact Me</h3>
    <form novalidate method="POST" action="">
        {{ form.csrf_token() }}
        <div class="row">
            <div class="col-md-6 mb-3 ">
                {{ form.name.label(class="form-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid", placeholder="e.g - Rajesh Kuthrappali") }}

                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control", placeholder="e.g - Rajesh Kuthrappali") }}              
                {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 mb-3 has-validation">
                {{ form.email.label(class = "form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid", placeholder="e.g - rajesh.k@email.com") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}                    
                    {{ form.email(class="form-control", placeholder="e.g - rajesh.k@email.com") }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3 ">
                {{ form.message.label(class="form-label") }}
                {% if form.message.errors %}
                    {{ form.message(class="form-control is-invalid", placeholder="Type your message...") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="form-control", placeholder="Type your message...") }}
                {% endif %}
            </div>
        </div>
        {{ form.submit(class="btn btn-lg btn-primary") }}
    </form>
    
    </div>
{% endblock %}